.search-form-admin{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.search-form-admin i{
    position: absolute;
    top: 5px;
    right: 5px;
}
.page-item {
    display: inline-block;
    margin: 0 4px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
}
.page-active {
    background-color:  aqua;
}

.page-item:hover {
    background-color: gray;
}
.disable-form{
    display: none;
}